<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <!-- 视图响应各个设备的屏幕比例 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>搜索结果</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>
    <!-- 导航 -->
    <nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <!-- 博客logo -->
                <h2 class="ui blue header item">Blog</h2>

                <!-- 导航栏的选项 -->
                <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>首页</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>归档</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini info icon"></i>关于我</a>

                <!-- 搜索框 -->
                <div class="m-mobile-hide right item m-item">
                    <div class="ui icon inverted transparent input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>

        <!-- 按钮 -->
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>


    <!-- 中间内容 -->
    <div class="m-container-small m-padded-tb-big">
        <div class="ui container">
            <!-- header -->
            <div class="ui top attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui blue header">搜索结果</h3>
                    </div>
                    <div class="right aligned column">
                        共 <h2 class="ui orange header m-inline-block m-text-thin"><span th:text="${page.totalElements}">14</span></h2> 篇
                    </div>
                </div>
            </div>

            <!-- 博客列表 -->
            <div class="ui orange segment">
                <div class="ui padded vertical segment m-padded-tb-large" th:each="blog : ${page.content}">
                    <div class="ui middle aligned mobile reversed stackable grid">
                        <div class="ui eleven wide column">
                            <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black" th:text="${blog.title}">月上柳梢头</a></h3>
                            <p class="m-text" th:text="|${blog.description}........|">北宋欧阳修脍炙人口的诗句“月上柳梢头，人约黄昏后”描写了诗人与佳人相约的情景，同时又隐含了相关天文学的知识，情景交融又富含哲理，被世人广为流传。
                                本文首先从天文学的角度对该诗句进行赏析......</p>
                            <div class="ui grid">
                                <div class="eleven wide column">
                                    <div class="ui small horizontal link list">
                                        <div class="item">
                                            <img src="../static/images/头像.jpg" th:src="@{/images/头像.jpg}" alt="" class="ui avatar image">
                                            <div class="content"><a href="#" class="header" th:text="${blog.user.nickname}">霜漠冰河</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i> <span th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd')}">2020-3-27</span>
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> <span th:text="${blog.views}">2342</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin" th:text="${blog.type.name}">数学建模</a>
                                </div>
                            </div>
                        </div>

                        <div class="ui five wide column">
                            <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                                <img src="../static/images/月色.png" th:src="@{${blog.firstPicture}}" class="ui rounded image" style="width: 800; height: 450;">
                            </a>
                        </div>
                    </div>
                </div>

                <!--/*-->
                <div class="ui padded vertical segment m-padded-tb-large">
                    <div class="ui mobile reversed stackable grid">
                        <div class="ui eleven wide column">
                            <h3 class="ui header">月上柳梢头</h3>
                            <p class="m-text">北宋欧阳修脍炙人口的诗句“月上柳梢头，人约黄昏后”描写了诗人与佳人相约的情景，同时又隐含了相关天文学的知识，情景交融又富含哲理，被世人广为流传。
                                本文首先从天文学的角度对该诗句进行赏析......</p>
                            <div class="ui grid">
                                <div class="eleven wide column">
                                    <div class="ui small horizontal link list">
                                        <div class="item">
                                            <img src="../static/images/头像.jpg" alt="" class="ui avatar image">
                                            <div class="content"><a href="#" class="header">霜漠冰河</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i> 2020-3-27
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> 2342
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">数学建模</a>
                                </div>
                            </div>
                        </div>

                        <div class="ui five wide column">
                            <a href="#" target="_blank">
                                <img src="../static/images/月色.png" th:src="@{/images/月色.png}" class="ui rounded image" style="width: 800; height: 450;">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui padded vertical segment m-padded-tb-large">
                    <div class="ui mobile reversed stackable grid">
                        <div class="ui eleven wide column">
                            <h3 class="ui header">月上柳梢头</h3>
                            <p class="m-text">北宋欧阳修脍炙人口的诗句“月上柳梢头，人约黄昏后”描写了诗人与佳人相约的情景，同时又隐含了相关天文学的知识，情景交融又富含哲理，被世人广为流传。
                                本文首先从天文学的角度对该诗句进行赏析......</p>
                            <div class="ui grid">
                                <div class="eleven wide column">
                                    <div class="ui small horizontal link list">
                                        <div class="item">
                                            <img src="../static/images/头像.jpg" alt="" class="ui avatar image">
                                            <div class="content"><a href="#" class="header">霜漠冰河</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i> 2020-3-27
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> 2342
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">数学建模</a>
                                </div>
                            </div>
                        </div>

                        <div class="ui five wide column">
                            <a href="#" target="_blank">
                                <img src="../static/images/月色.png" th:src="@{/images/月色.png}" class="ui rounded image" style="width: 800; height: 450;">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui padded vertical segment m-padded-tb-large">
                    <div class="ui mobile reversed stackable grid">
                        <div class="ui eleven wide column">
                            <h3 class="ui header">月上柳梢头</h3>
                            <p class="m-text">北宋欧阳修脍炙人口的诗句“月上柳梢头，人约黄昏后”描写了诗人与佳人相约的情景，同时又隐含了相关天文学的知识，情景交融又富含哲理，被世人广为流传。
                                本文首先从天文学的角度对该诗句进行赏析......</p>
                            <div class="ui grid">
                                <div class="eleven wide column">
                                    <div class="ui small horizontal link list">
                                        <div class="item">
                                            <img src="../static/images/头像.jpg" alt="" class="ui avatar image">
                                            <div class="content"><a href="#" class="header">霜漠冰河</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i> 2020-3-27
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> 2342
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">数学建模</a>
                                </div>
                            </div>
                        </div>

                        <div class="ui five wide column">
                            <a href="#" target="_blank">
                                <img src="../static/images/月色.png" th:src="@{/images/月色.png}" class="ui rounded image" style="width: 800; height: 450;">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui padded vertical segment m-padded-tb-large">
                    <div class="ui mobile reversed stackable grid">
                        <div class="ui eleven wide column">
                            <h3 class="ui header">月上柳梢头</h3>
                            <p class="m-text">北宋欧阳修脍炙人口的诗句“月上柳梢头，人约黄昏后”描写了诗人与佳人相约的情景，同时又隐含了相关天文学的知识，情景交融又富含哲理，被世人广为流传。
                                本文首先从天文学的角度对该诗句进行赏析......</p>
                            <div class="ui grid">
                                <div class="eleven wide column">
                                    <div class="ui small horizontal link list">
                                        <div class="item">
                                            <img src="../static/images/头像.jpg" alt="" class="ui avatar image">
                                            <div class="content"><a href="#" class="header">霜漠冰河</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i> 2020-3-27
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> 2342
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">数学建模</a>
                                </div>
                            </div>
                        </div>

                        <div class="ui five wide column">
                            <a href="#" target="_blank">
                                <img src="../static/images/月色.png" th:src="@{/images/月色.png}" class="ui rounded image" style="width: 800; height: 450;">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui padded vertical segment m-padded-tb-large">
                    <div class="ui mobile reversed stackable grid">
                        <div class="ui eleven wide column">
                            <h3 class="ui header">月上柳梢头</h3>
                            <p class="m-text">北宋欧阳修脍炙人口的诗句“月上柳梢头，人约黄昏后”描写了诗人与佳人相约的情景，同时又隐含了相关天文学的知识，情景交融又富含哲理，被世人广为流传。
                                本文首先从天文学的角度对该诗句进行赏析......</p>
                            <div class="ui grid">
                                <div class="eleven wide column">
                                    <div class="ui small horizontal link list">
                                        <div class="item">
                                            <img src="../static/images/头像.jpg" alt="" class="ui avatar image">
                                            <div class="content"><a href="#" class="header">霜漠冰河</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i> 2020-3-27
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> 2342
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">数学建模</a>
                                </div>
                            </div>
                        </div>

                        <div class="ui five wide column">
                            <a href="#" target="_blank">
                                <img src="../static/images/月色.png" th:src="@{/images/月色.png}" class="ui rounded image" style="width: 800; height: 450;">
                            </a>
                        </div>
                    </div>
                </div>
                <!--*/-->

            </div>

            <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <a href="#" th:href="@{/(page=${page.number}-1)}" th:unless="${page.first}" class="ui basic mini button blue">上一页</a>
                    </div>
                    <div class="right aligned column">
                        <a href="#" th:href="@{/(page=${page.number}+1)}" th:unless="${page.last}" class="ui basic mini button blue">下一页</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <br>
    <br>

    <!-- 底部 -->
    <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <!-- semantic ui的栅栏系统，16份为总份数 -->
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../static/images/scenery_one.jpg" th:src="@{/images/scenery_one.jpg}" class="ui rounded image" style="width: 150px">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事(User Story)</a>
                        <a href="#" class="item">用户故事(User Story)</a>
                        <a href="#" class="item">用户故事(User Story)</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">@GitHub</a>
                        <a href="#" class="item">@Bilibili</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">留言</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-tiny">欢迎来到我的个人博客!博主会实时分享数学、编程、思考等相关内容，编写一些务实、可复现的文章，希望对来到这里的人有所帮助~</p>
                </div>
            </div>

            <!-- 线 -->
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-tiny">苍鹰搏击万里长空，蛟龙笑傲千堆雪浪</p>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <script>
        $('.menu.toggle').click(function () {
            // JQuery的方法，反转处理css样式，如果有则去除，无则加上
            $('.m-item').toggleClass('m-mobile-hide');
        });

    </script>
</body>
</html>